apiVersion: v1
kind: Service
metadata:
  name: {{ include "mailpiler.fullname" . }}
  labels:
    {{- include "mailpiler.labels" . | nindent 4 }}
    app.kubernetes.io/component: mailpiler
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- with .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ports:
    {{- $expose := .Values.service.expose | default dict }}
    {{- range $name, $port := .Values.service.ports }}
    {{- if (index $expose $name | default true) }}
    - name: {{ $name }}
      port: {{ $port }}
      targetPort: {{ $name }}
      protocol: TCP
    {{- end }}
    {{- end }}
  selector:
    {{- include "mailpiler.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: mailpiler