{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "mailpiler.serviceAccountName" . }}
  labels:
    {{- include "mailpiler.labels" . | nindent 4 }}
    app.kubernetes.io/component: mailpiler
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
{{- end }}